:root {
  --white: #d8d8d8;
  --white-two: #ffffff;
  --dark-indigo: #1a0e49;
  --warm-grey: #8d8c8c;
  --night-blue: #0d0430;
  --charcoal-grey: #383743;
  --greeny-blue: #57bbbc;
  --beige: #ebe9d7;
  --danger: #f10606;
  --green-one: #7dc075;
  --primary: #ee4c77;
}
