*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56,25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  background-color: var(--beige);
  box-sizing: border-box;
  color: var(--charcoal-grey);
  font-family: 'Roboto', sans-serif;

  @include respond(tab-port) {
    padding: 0;
  }
}

.text-primary {
  color: var(--primary);
}

.btn-link {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

a {
  text-decoration: none;
}
