.alert {
  color: var(--charcoal-grey);
  font-size: 3.2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 61rem;
}

.error-msg {
  color: var(--danger);
  display: block;
  font-size: 1.4rem;
  text-align: center;
  margin: 1rem auto;
}
